.main{
  width: 100%;
  background: #fff1;
  display: flex;
  justify-content: space-between;
}
.left{
  background: #adce;
  width: 20%;
  text-align: center;
  position: fixed;
}
img{
  width: 20vh;
  border-radius: 50%;
}
.right{
  background: #cdaeff;
  width: 79%;
  padding: .5em;
  position: relative;
  margin-left: 21%;
}

/* media queries */

@media (min-device-width:350px) and (max-device-width:480px) {
  .main{
  width: 100%;
  display: block;
  }
  .left{
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    /* position:absolute; */
  }
  .left1,
  .left2{
    margin: auto;
  }
  .right{
    width: 95%;
    margin-top: 1%;
    margin-left: 0%;
    /* margin-top:68%; */

}
}

/* Tab view */
@media (min-device-width:481px) and (max-device-width:780px) {
  .main{
  width: 100%;
  display: block;
  }
  .left{
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    /* position:absolute; */
  }
  .left1,
  .left2{
    margin: auto;
  }
  .right{
    width: 98%;
    margin-top: 1%;
    margin-left: 0%;
    /* margin-top:68%; */

}
}
